# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Django
*.log
local_settings.py
db.sqlite3
# Ignore everything in media/
media/*

# But do not ignore these subfolders
!media/authors/
!media/blogs/
!media/categories/

# Ignore everything inside those folders
media/authors/*
media/blogs/*
media/categories/*

# Except default.jpg in each
!media/authors/default.jpg
!media/blogs/default.jpg
!media/categories/default.jpg
staticfiles/
.env
*.env

# Migrations (optional)
# */migrations/*.py
# !*/migrations/__init__.py

# IDEs and editors
.idea/
.vscode/
*.swp
*.swo

# OS specific
.DS_Store
Thumbs.db